db/data/*
node_modules
package-lock.json

## There's a weird bug with handlebars templates where prettier will remove the DOCTYPE tag
src/views/layouts/main.handlebars

## These files use partials, these are not supported by prettier
src/views/activation_success.handlebars
src/views/partials/formpage.handlebars
src/views/signin.handlebars
src/views/signup.handlebars

## Email templates are a mess, don't even attempt to format them
src/views/email/*