<div class="habits-background h-full w-full">
  <section class="m-auto flex max-w-7xl justify-center pt-20">
    <div class="rounded-md bg-white p-4 text-center">
      <h1 class="text-7xl font-semibold">404</h1>
      <p class="mt-4 text-lg">Sorry, the page you're looking for can't be found.</p>
      <a href="/" class="mt-4 inline-block text-blue-600">Head back home</a>
    </div>
  </section>
</div>