<div id="calendar" style="display: grid; grid-template-columns: repeat(12, [col-start] 1fr); justify-content: center;">
  {{#months}}
    <div id="month">
      <div id="month-name">{{month}}</div>
      <div id="days">
        {{#days}}
          <button id="day" {{#if isComplete}} class="complete"{{/if}} data-date="{{date}}" data-is-complete="{{isComplete}}">{{day}}</button>
        {{/days}}
      </div>
    </div>
  {{/months}}
</div>

<script>
  console.log("hi");
  document.getElementById("calendar").addEventListener("click", async (ev) => {
    if(event.target.id !== "day") return;

    const btn = event.target

    console.log("Day clicked", event.target.getAttribute("data-date"));
    console.log('atte', btn.getAttribute('data-is-complete'));

    if(btn.getAttribute('data-is-complete') === "true" ) {
      try {
        const result = await fetch("/day", {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            date: event.target.getAttribute("data-date")
          })
        })
        btn.setAttribute("data-is-complete", false);
        btn.classList.remove("complete");
      } catch(err) {
        console.error(err);
      }
    } else {
      try {
        const result = await fetch("/day", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            date: event.target.getAttribute("data-date")
          })
        })
        btn.setAttribute("data-is-complete", true);
        btn.classList.add("complete");
      } catch(err) {
        console.error(err);
      }

    }

  }); 
</script>