<style>
  #calendar {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
    justify-content: center;
    gap: 25px;
    margin: 1rem;
  }

  .day {
    width: 30px;
    margin: 5px;
    height: calc(30px * 1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    border: none;
  }
  
  .day.complete {
    background: rgb(180, 177, 177);
  }
</style>


<div id="calendar">
  {{#months}}
    <div id="month">
      <div id="month-name">{{month}}</div>
      <div id="days">
        {{#days}}
          <button id="day" class="day bg-gray-200 {{#if isComplete}}complete{{/if}}" data-date="{{date}}" data-is-complete="{{isComplete}}">{{day}}</button>
        {{/days}}
      </div>
    </div>
  {{/months}}
</div>

<script>
  document.getElementById("calendar").addEventListener("click", async (ev) => {
    if(event.target.id !== "day") return;
    const btn = event.target
    const isDayComplete = btn.getAttribute('data-is-complete') === "true";
    if(isDayComplete) {
      deleteDay(btn.getAttribute("data-date"));
      btn.setAttribute("data-is-complete", false);
      btn.classList.remove("complete");
    } else {
      submitDay(btn.getAttribute("data-date"))
      btn.setAttribute("data-is-complete", true);
      btn.classList.add("complete");
    }
  });

  async function submitDay(day) {
    try {
      const result = await fetch("/day", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          date: event.target.getAttribute("data-date")
        })
      })
    } catch(err) {
      console.error(err);
    }
  }

  async function deleteDay(day) {
    try {
      const result = await fetch("/day", {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          date: event.target.getAttribute("data-date")
        })
      })
    } catch(err) {
      console.error(err);
    }
  } 
</script>