{{#section "head"}}
  <title>Error - Daily Do It</title>
  <meta name="robots" content="noindex, nofollow" />
{{/section}}

<h1 class="mt-16 text-center text-2xl text-red-500">500 ERROR</h1>
<pre class="m-auto mt-10 max-w-prose bg-slate-100 p-4">{{error}}</pre>