<section class="m-8 mx-auto max-w-prose">

  <div class="text-center">
    <h1 class="text-center text-5xl font-semibold" style="text-wrap: balance">
      Visualize, track and commit to a habit
      <span class="underline">daily</span>
    </h1>

    <p class="mt-4 text-center text-xl text-gray-500">
      Daily Do It is a simple, free app that helps you visualize, track and
      commit to a habit every day.
    </p>

    <a
      class="mt-4 inline-block border border-solid border-gray-400 p-4"
      href="https://twitter.com/ORidsdale"
    >Coming Soon...</a>
  </div>

  {{! TODO: Replace this }}
  <img src="/calendar.png" class="mt-8" />

</section>