{{#if username}}
  <a href="/calendar">Your Calendar</a>
  <form action="/signout" method="post">
    <button type="submit">Sign Out</button>
  </form>
{{else}}
  <a href="/signin">Sign In</a>
{{/if}}