<!-- Add page title and meta attributes -->

<div class="w-100 bg-orange-50 p-8">

  <header class="mb-8 text-center">
    <h1 class="text-3xl font-bold">Privacy Policy</h1>
  </header>

  <article class="m-auto max-w-prose text-xl">
    <dl class="mb-4 flex gap-2">
      <dt class="font-semibold">Effective Date:</dt>
      <dd><time>19th September 2023</time></dd>
    </dl>

    <section>
      <p class="mb-4">
        Thank you for using Daily Do It ("we," "our," or "us"). Your privacy is
        important to us, and we are committed to protecting your personal
        information. This Privacy Policy outlines how we collect, use, disclose,
        and safeguard your information when you interact with our website,
        products, or services. By accessing or using our services, you consent
        to the practices described in this Privacy Policy.
      </p>
    </section>

    <ol class="ml-4 list-decimal">

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">Information We Collect</h2>
        <p>We may collect various types of information from you, including:</p>

        <ol class="mt-4">
          <li class="mb-4">
            <h3 class="inline-block font-semibold">a. Personal Information:</h3>
            <p class="ml-5">
              This may include your email address and other identifying
              information when you provide it to us voluntarily.
            </p>
          </li>

          <li>
            <h3 class="inline-block font-semibold">b. Usage Information:</h3>
            <p class="ml-5">
              We collect data about how you interact with our website, products,
              or services. This may include your IP address, browser type,
              device information, pages visited, and the date and time of your
              visits.
            </p>
          </li>
        </ol>
      </li>

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">How We Use Your Information</h2>
        <p>We use the information we collect for various purposes, including:</p>

        <ol class="mt-4">
          <li class="mb-4">
            <h3 class="inline-block font-semibold">a. Providing Services:</h3>
            <p class="ml-5">To provide you with our products or services,
              including delivering customer support.</p>
          </li>
          <li class="mb-4">
            <h3 class="inline-block font-semibold">b. Communication:</h3>
            <p class="ml-5">To respond to your inquiries, send you updates about
              our products or services, and notify you of important information.</p>
          </li>
          <li class="mb-4">
            <h3 class="inline-block font-semibold">c. Analytics:</h3>
            <p class="ml-5">To analyze user behavior and trends to improve our
              website, products, and services.</p>
          </li>
          <li class="mb-4">
            <h3 class="inline-block font-semibold">e. Legal Compliance:</h3>
            <p class="ml-5">To comply with legal obligations and enforce our
              policies.</p>
          </li>
        </ol>
      </li>

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">Sharing Your Information</h2>
        <p>We may share your information in the following circumstances:</p>

        <ol class="mt-4">
          <li class="mb-4">
            <h3 class="inline-block font-semibold">a. Service Providers:</h3>
            <p class="ml-5">We may share your information with third-party
              service providers who assist us in delivering our services.</p>
          </li>
          <li class="mb-4">
            <h3 class="inline-block font-semibold">b. Legal Requirements:</h3>
            <p class="ml-5">We may disclose your information to comply with
              legal obligations, protect our rights, or respond to legal
              requests.</p>
          </li>
          <li class="mb-4">
            <h3 class="inline-block font-semibold">c. Business Transfers:</h3>
            <p class="ml-5">In the event of a merger, acquisition, or sale of
              all or part of our assets, your information may be transferred as
              part of the transaction.</p>
          </li>
        </ol>
      </li>

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">Security</h2>
        <p>We take reasonable steps to protect your information from
          unauthorized access, use, or disclosure. However, no data transmission
          over the internet or electronic storage method is completely secure,
          so we cannot guarantee absolute security.</p>
      </li>

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">Your Choices</h2>
        <p>You have the right to:</p>
        <ol class="mt-4">
          <li class="mb-4">
            <h3 class="inline-block font-semibold">a. Access and Update:</h3>
            <p class="ml-5">Access, update, or correct your personal information
              by contacting us.</p>
          </li>
          <li class="mb-4">
            <h3 class="inline-block font-semibold">b. Cookies:</h3>
            <p class="ml-5">You can control cookies through your browser
              settings.</p>
          </li>
        </ol>
      </li>

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">Children's Privacy</h2>
        <p>Our services are not intended for individuals under the age of 13. We
          do not knowingly collect or store information from children under 13.</p>
      </li>

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">Changes to this Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to time. The most recent
          version will be posted on our website with the effective date.</p>
      </li>

      <li class="mb-4">
        <h2 class="mb-4 font-semibold">Contact Us</h2>
        <p>If you have any questions or concerns about this Privacy Policy or
          our data practices, please contact us</p>
        <!-- TODO: Add contact link -->
      </li>
    </ol>

    <section class="mt-8">
      <p>
        <i>
          By using our website, products, or services, you signify your consent
          to this Privacy Policy. Please review this policy periodically for any
          changes.
        </i>
      </p>
    </section>

  </article>
</div>