<div class="mt-16 flex">

  <div class="m-auto w-2/3 max-w-lg rounded-md border p-10">

    <h1 class="mb-10 text-center text-3xl font-medium">Sign up</h1>

    <form action="/signup" method="post" class="flex flex-col gap-5">
      <section>
        <label for="email" class="mb-1 block" autofocus>Email</label>
        <input
          id="email"
          class="block w-full rounded-md border p-2"
          name="email"
          type="email"
          autocomplete="email"
          required
          autofocus
          placeholder="Enter your email"
        />
      </section>
      <section>
        <label for="current-password" class="mb-1 block">Password</label>
        <input
          id="current-password"
          class="block w-full rounded-md border p-2"
          name="password"
          type="password"
          autocomplete="current-password"
          placeholder="Enter your password"
          required
        />
      </section>
      {{! TODO: Add Password confirmation }}

      <button
        type="submit"
        class="mt-5 w-full rounded border bg-gray-200 p-2"
      >Sign up now</button>
    </form>

  </div>
</div>