<!DOCTYPE html>
<html>
  <head>
    <title>Daily Do It</title>
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <header>
      {{!-- <h1>Daily Do It</h1> --}}
    </header>
    {{{body}}}
  </body>
</html>