<!DOCTYPE html>
<html>
  <head>
    <title>Daily Do It</title>
    <style>
      .complete {
        background: hotpink;
      }
    </style>
  </head>
  <body>
    <header>
      {{!-- <h1>Daily Do It</h1> --}}
    </header>
    {{{body}}}
  </body>
</html>